USE [QuanLyChoThueXe]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 2/8/2020 6:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [int] NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[SoCMND] [int] NOT NULL,
	[ThoiGianBatDauHopDong] [datetime] NOT NULL,
	[ThoiGianKetThucHopDong] [datetime] NOT NULL,
	[DiaDiemNhanXe] [nvarchar](50) NOT NULL,
	[DiaDiemTraXe] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaLoaiXe] [varchar](50) NOT NULL,
	[MaPK] [varchar](50) NOT NULL,
	[MaThanhToan] [varchar](50) NOT NULL,
	[DatCoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2/8/2020 6:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SoCMND] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NamSinh] [date] NOT NULL,
	[SoGPLX] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[SoCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHUKIEN]    Script Date: 2/8/2020 6:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHUKIEN](
	[MaLoaiPK] [varchar](50) NOT NULL,
	[TenLoaiPK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIPHUKIEN] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 2/8/2020 6:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[MaLoaiXe] [varchar](50) NOT NULL,
	[TenLoaiXe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUKIEN]    Script Date: 2/8/2020 6:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUKIEN](
	[MaPK] [varchar](50) NOT NULL,
	[TenPK] [nvarchar](50) NOT NULL,
	[TinhTrangPK] [nvarchar](50) NOT NULL,
	[ThoiGianBatDauTinhTrang] [datetime] NULL,
	[ThoiGianKetThucTinhTrang] [datetime] NULL,
	[MaLoaiPK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PHUKIEN] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tien]    Script Date: 2/8/2020 6:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tien](
	[MaThanhToan] [varchar](50) NOT NULL,
	[TienThueXe] [decimal](18, 2) NOT NULL,
	[TienSuaChua] [decimal](18, 2) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tien] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 2/8/2020 6:30:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [varchar](50) NOT NULL,
	[TenXe] [nvarchar](50) NOT NULL,
	[SoKhung] [nvarchar](50) NOT NULL,
	[SoMay] [nvarchar](50) NOT NULL,
	[MaLuc] [int] NOT NULL,
	[Hang] [nvarchar](50) NOT NULL,
	[SoCho] [int] NOT NULL,
	[GiaThueXeTheoGio] [decimal](18, 2) NOT NULL,
	[GiaThueXeTheoNgay] [decimal](18, 2) NOT NULL,
	[GiaThueXeTheoThang] [decimal](18, 2) NOT NULL,
	[TienPhat] [decimal](18, 2) NOT NULL,
	[TinhTrangXe] [nvarchar](50) NOT NULL,
	[ThoiGianBatDauTinhTrang] [datetime] NULL,
	[ThoiGianKetThucTinhTrang] [datetime] NULL,
	[MaLoaiXe] [varchar](50) NOT NULL,
	[BienSoXe] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([SoCMND], [HoTen], [NamSinh], [SoGPLX], [GhiChu]) VALUES (206270206, N'Nguyễn Văn Chiến', CAST(N'1990-12-12' AS Date), 123000001, NULL)
INSERT [dbo].[KHACHHANG] ([SoCMND], [HoTen], [NamSinh], [SoGPLX], [GhiChu]) VALUES (206270207, N'Lê Thị Dậu', CAST(N'1998-03-02' AS Date), 123000002, NULL)
INSERT [dbo].[KHACHHANG] ([SoCMND], [HoTen], [NamSinh], [SoGPLX], [GhiChu]) VALUES (206270208, N'Nguyễn Văn Chiến', CAST(N'1992-04-04' AS Date), 123000003, NULL)
GO
INSERT [dbo].[LOAIPHUKIEN] ([MaLoaiPK], [TenLoaiPK]) VALUES (N'BocVoLang', N'Bọc vô lăng cho xe')
INSERT [dbo].[LOAIPHUKIEN] ([MaLoaiPK], [TenLoaiPK]) VALUES (N'GoiTua', N'Gối tựa đầu cho xe')
INSERT [dbo].[LOAIPHUKIEN] ([MaLoaiPK], [TenLoaiPK]) VALUES (N'TamChe', N'Tấm che nắng cho xe')
GO
INSERT [dbo].[LOAIXE] ([MaLoaiXe], [TenLoaiXe]) VALUES (N'AudiQ504', N'Audi Q5 5 chỗ')
INSERT [dbo].[LOAIXE] ([MaLoaiXe], [TenLoaiXe]) VALUES (N'AudiQ707', N'Audi Q7 7 chỗ')
INSERT [dbo].[LOAIXE] ([MaLoaiXe], [TenLoaiXe]) VALUES (N'BMWi802', N'BMW i8 2020 2 chỗ')
GO
INSERT [dbo].[PHUKIEN] ([MaPK], [TenPK], [TinhTrangPK], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiPK]) VALUES (N'BocVoLang01', N'Bọc vô lăng', N'Sẵng sàng', NULL, NULL, N'BocVoLang')
INSERT [dbo].[PHUKIEN] ([MaPK], [TenPK], [TinhTrangPK], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiPK]) VALUES (N'BocVoLang02', N'Bọc vô lăng', N'Sẵng sàng', NULL, NULL, N'BocVoLang')
INSERT [dbo].[PHUKIEN] ([MaPK], [TenPK], [TinhTrangPK], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiPK]) VALUES (N'BocVoLang03', N'Bọc vô lăng', N'Sẵng sàng', NULL, NULL, N'BocVoLang')
GO
INSERT [dbo].[Xe] ([MaXe], [TenXe], [SoKhung], [SoMay], [MaLuc], [Hang], [SoCho], [GiaThueXeTheoGio], [GiaThueXeTheoNgay], [GiaThueXeTheoThang], [TienPhat], [TinhTrangXe], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiXe], [BienSoXe]) VALUES (N'AudiQ505_01', N'Audi Q5', N'SKAUDI01', N'SMAUDI01', 252, N'AUDI', 5, CAST(1000000.00 AS Decimal(18, 2)), CAST(2500000.00 AS Decimal(18, 2)), CAST(60000000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'sẵng sàng', NULL, NULL, N'AudiQ504', N'43-F1 12345')
INSERT [dbo].[Xe] ([MaXe], [TenXe], [SoKhung], [SoMay], [MaLuc], [Hang], [SoCho], [GiaThueXeTheoGio], [GiaThueXeTheoNgay], [GiaThueXeTheoThang], [TienPhat], [TinhTrangXe], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiXe], [BienSoXe]) VALUES (N'AudiQ505_02', N'Audi Q5', N'SKAUDI02', N'SMAUDI02', 252, N'AUDI', 5, CAST(1000000.00 AS Decimal(18, 2)), CAST(2500000.00 AS Decimal(18, 2)), CAST(60000000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'Sẵng sàng', NULL, NULL, N'AudiQ504', N'43-F1 12321')
INSERT [dbo].[Xe] ([MaXe], [TenXe], [SoKhung], [SoMay], [MaLuc], [Hang], [SoCho], [GiaThueXeTheoGio], [GiaThueXeTheoNgay], [GiaThueXeTheoThang], [TienPhat], [TinhTrangXe], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiXe], [BienSoXe]) VALUES (N'AudiQ505_03', N'Audi Q5', N'SKAUDI03', N'SMAUDI03', 252, N'AUDI', 5, CAST(1000000.00 AS Decimal(18, 2)), CAST(2500000.00 AS Decimal(18, 2)), CAST(60000000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'Sẵng sàng', NULL, NULL, N'AudiQ504', N'43-F1 12322')
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHHANG] FOREIGN KEY([SoCMND])
REFERENCES [dbo].[KHACHHANG] ([SoCMND])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_LOAIXE] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LOAIXE] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_LOAIXE]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_PHUKIEN] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PHUKIEN] ([MaPK])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_PHUKIEN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_Tien] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[Tien] ([MaThanhToan])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_Tien]
GO
ALTER TABLE [dbo].[PHUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHUKIEN_LOAIPHUKIEN] FOREIGN KEY([MaLoaiPK])
REFERENCES [dbo].[LOAIPHUKIEN] ([MaLoaiPK])
GO
ALTER TABLE [dbo].[PHUKIEN] CHECK CONSTRAINT [FK_PHUKIEN_LOAIPHUKIEN]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LOAIXE1] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LOAIXE] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LOAIXE1]
GO
