USE [QuanLyChoThueXe]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [int] NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[SoCMND] [int] NOT NULL,
	[ThoiGianBatDauHopDong] [datetime] NOT NULL,
	[ThoiGianKetThucHopDong] [datetime] NOT NULL,
	[DiaDiemNhanXe] [nvarchar](50) NOT NULL,
	[DiaDiemTraXe] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaLoaiXe] [varchar](50) NOT NULL,
	[MaLo aiPK] [varchar](50) NOT NULL,
	[MaThanhToan] [varchar](50) NOT NULL,
	[DatCoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SoCMND] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NamSinh] [date] NOT NULL,
	[SoGPLX] [int] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[SoCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHUKIEN]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHUKIEN](
	[MaLoaiPK] [varchar](50) NOT NULL,
	[TenLoaiPK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIPHUKIEN] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[MaLoaiXe] [varchar](50) NOT NULL,
	[TenLoaiXe] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[taiKhoang] [varchar](20) NOT NULL,
	[matKhau] [varchar](20) NULL,
	[chucNang] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUKIEN]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUKIEN](
	[MaPK] [varchar](50) NOT NULL,
	[TenPK] [nvarchar](50) NOT NULL,
	[TinhTrangPK] [nvarchar](50) NOT NULL,
	[ThoiGianBatDauTinhTrang] [datetime] NULL,
	[ThoiGianKetThucTinhTrang] [datetime] NULL,
	[MaLoaiPK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PHUKIEN] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tien]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tien](
	[MaThanhToan] [varchar](50) NOT NULL,
	[TienThueXe] [decimal](18, 2) NOT NULL,
	[TienSuaChua] [decimal](18, 2) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tien] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 10/5/2020 1:01:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [varchar](50) NOT NULL,
	[TenXe] [nvarchar](50) NOT NULL,
	[SoKhung] [nvarchar](50) NOT NULL,
	[SoMay] [nvarchar](50) NOT NULL,
	[MaLuc] [int] NOT NULL,
	[Hang] [nvarchar](50) NOT NULL,
	[SoCho] [int] NOT NULL,
	[GiaThueXeTheoGio] [decimal](18, 2) NOT NULL,
	[GiaThueXeTheoNgay] [decimal](18, 2) NOT NULL,
	[GiaThueXeTheoThang] [decimal](18, 2) NOT NULL,
	[TienPhat] [decimal](18, 2) NOT NULL,
	[TinhTrangXe] [nvarchar](50) NOT NULL,
	[ThoiGianBatDauTinhTrang] [datetime] NULL,
	[ThoiGianKetThucTinhTrang] [datetime] NULL,
	[MaLoaiXe] [varchar](50) NOT NULL,
	[BienSoXe] [varchar](50) NOT NULL,
	[HinhXe] [image] NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([SoCMND], [HoTen], [NamSinh], [SoGPLX], [GhiChu]) VALUES (202270111, N'Lê Thị Dậu', CAST(N'1998-03-02' AS Date), 123000002, N'')
INSERT [dbo].[KHACHHANG] ([SoCMND], [HoTen], [NamSinh], [SoGPLX], [GhiChu]) VALUES (206270111, N'Lê Thị Dậu', CAST(N'1998-03-02' AS Date), 123000002, N'')
INSERT [dbo].[KHACHHANG] ([SoCMND], [HoTen], [NamSinh], [SoGPLX], [GhiChu]) VALUES (206270112, N'Lê Thị Dậu', CAST(N'1998-03-02' AS Date), 123000002, N'')
INSERT [dbo].[LOAIPHUKIEN] ([MaLoaiPK], [TenLoaiPK]) VALUES (N'BocVoLang', N'Bọc vô lăng cho xe')
INSERT [dbo].[LOAIPHUKIEN] ([MaLoaiPK], [TenLoaiPK]) VALUES (N'GoiTua', N'Gối tựa đầu cho xe')
INSERT [dbo].[LOAIPHUKIEN] ([MaLoaiPK], [TenLoaiPK]) VALUES (N'TamChe', N'Tấm che nắng cho xe')
INSERT [dbo].[LOAIXE] ([MaLoaiXe], [TenLoaiXe], [SoLuong]) VALUES (N'AudiQ504', N'Audi Q5 5 chỗ', NULL)
INSERT [dbo].[LOAIXE] ([MaLoaiXe], [TenLoaiXe], [SoLuong]) VALUES (N'AudiQ707', N'Audi Q7 7 chỗ', NULL)
INSERT [dbo].[LOAIXE] ([MaLoaiXe], [TenLoaiXe], [SoLuong]) VALUES (N'BMWi802', N'BMW i8 2020 2 chỗ', NULL)
INSERT [dbo].[LOGIN] ([taiKhoang], [matKhau], [chucNang]) VALUES (N'a', N'a', N'Nhân viên')
INSERT [dbo].[LOGIN] ([taiKhoang], [matKhau], [chucNang]) VALUES (N'admin', N'admin', N'Quản lý')
INSERT [dbo].[LOGIN] ([taiKhoang], [matKhau], [chucNang]) VALUES (N'use1', N'pass1', N'Nhân viên')
INSERT [dbo].[PHUKIEN] ([MaPK], [TenPK], [TinhTrangPK], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiPK]) VALUES (N'BocVoLang01', N'Bọc vô lăng', N'Sẵng sàng', NULL, NULL, N'BocVoLang')
INSERT [dbo].[PHUKIEN] ([MaPK], [TenPK], [TinhTrangPK], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiPK]) VALUES (N'BocVoLang02', N'Bọc vô lăng', N'Sẵng sàng', NULL, NULL, N'BocVoLang')
INSERT [dbo].[PHUKIEN] ([MaPK], [TenPK], [TinhTrangPK], [ThoiGianBatDauTinhTrang], [ThoiGianKetThucTinhTrang], [MaLoaiPK]) VALUES (N'BocVoLang03', N'Bọc vô lăng', N'Sẵng sàng', NULL, NULL, N'BocVoLang')
INSERT [dbo].[Tien] ([MaThanhToan], [TienThueXe], [TienSuaChua], [TongTien], [GhiChu]) VALUES (N'1', CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), NULL)
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHHANG] FOREIGN KEY([SoCMND])
REFERENCES [dbo].[KHACHHANG] ([SoCMND])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_LOAIPHUKIEN] FOREIGN KEY([MaLo aiPK])
REFERENCES [dbo].[LOAIPHUKIEN] ([MaLoaiPK])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_LOAIPHUKIEN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_LOAIXE] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LOAIXE] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_LOAIXE]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_Tien] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[Tien] ([MaThanhToan])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_Tien]
GO
ALTER TABLE [dbo].[PHUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHUKIEN_LOAIPHUKIEN] FOREIGN KEY([MaLoaiPK])
REFERENCES [dbo].[LOAIPHUKIEN] ([MaLoaiPK])
GO
ALTER TABLE [dbo].[PHUKIEN] CHECK CONSTRAINT [FK_PHUKIEN_LOAIPHUKIEN]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LOAIXE] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LOAIXE] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LOAIXE]
GO
