USE [master]
GO
/****** Object:  Database [QuanLyChoThueXe]    Script Date: 8/2/2020 4:15:35 PM ******/
CREATE DATABASE [QuanLyChoThueXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyChoThueXe', FILENAME = N'D:\Study\Aptech\SQL_20191209\DB\QuanLyChoThueXe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyChoThueXe_log', FILENAME = N'D:\Study\Aptech\SQL_20191209\DB\QuanLyChoThueXe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyChoThueXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyChoThueXe]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 8/2/2020 4:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [int] NOT NULL,
	[NgayLap] [datetime]NOT  NULL,
	[SoCMND] [int]NOT  NULL,
	[ThoiGianBatDauHopDong] [datetime]NOT  NULL,
	[ThoiGianKetThucHopDong] [datetime]NOT  NULL,
	[DiaDiemNhanXe] [nvarchar](50)NOT  NULL,
	[DiaDiemTraXe] [nvarchar](50)NOT  NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaLoaiXe] [varchar](50)NOT  NULL,
	[MaPK] [varchar](50)NOT  NULL,
	[MaThanhToan] [varchar](50)NOT  NULL,
	[DatCoc] [nvarchar](50)NOT  NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/2/2020 4:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SoCMND] [int] NOT NULL,
	[HoTen] [nvarchar](50)NOT  NULL,
	[NamSinh] [date]NOT  NULL,
	[SoGPLX] [int]NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[SoCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHUKIEN]    Script Date: 8/2/2020 4:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIPHUKIEN](
	[MaLoaiPK] [varchar](50)NOT NULL,
	[TenLoaiPK] [nvarchar](50)NOT  NULL,
 CONSTRAINT [PK_LOAIPHUKIEN] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIXE]    Script Date: 8/2/2020 4:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIXE](
	[MaLoaiXe] [varchar](50) NOT NULL,
	[TenLoaiXe] [nvarchar](50)NOT  NULL,
 CONSTRAINT [PK_LOAIXE] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHUKIEN]    Script Date: 8/2/2020 4:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHUKIEN](
	[MaPK] [varchar](50)NOT NULL,
	[TenPK] [nvarchar](50)NOT  NULL,
	[TinhTrangPK] [nvarchar](50)NOT  NULL,
	[ThoiGianBatDauTinhTrang] [datetime]  NULL,
	[ThoiGianKetThucTinhTrang] [datetime]  NULL,
	[MaLoaiPK] [varchar](50)NOT  NULL,
 CONSTRAINT [PK_PHUKIEN] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tien]    Script Date: 8/2/2020 4:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tien](
	[MaThanhToan] [varchar](50)NOT NULL,
	[TienThueXe] [decimal](18, 2)NOT  NULL,
	[TienSuaChua] [decimal](18, 2)NOT  NULL,
	[TongTien] [decimal](18, 2)NOT  NULL,
	[GhiChu] [nvarchar](50)  NULL,
 CONSTRAINT [PK_Tien] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 8/2/2020 4:15:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [varchar](50) NOT NULL,
	[TenXe] [nvarchar](50)NOT  NULL,
	[SoKhung] [nvarchar](50)NOT  NULL,
	[SoMay] [nvarchar](50)NOT  NULL,
	[MaLuc] [int]NOT  NULL,
	[Hang] [nvarchar](50)NOT  NULL,
	[SoCho] [int]NOT  NULL,
	[GiaThueXeTheoGio] [decimal](18, 2)NOT  NULL,
	[GiaThueXeTheoNgay] [decimal](18, 2)NOT  NULL,
	[GiaThueXeTheoThang] [decimal](18, 2)NOT  NULL,
	[TienPhat] [decimal](18, 2)NOT  NULL,
	[TinhTrangXe] [nvarchar](50)NOT  NULL,
	[ThoiGianBatDauTinhTrang] [datetime] NULL,
	[ThoiGianKetThucTinhTrang] [datetime] NULL,
	[MaLoaiXe] [varchar](50)NOT  NULL,
	[BienSoXe] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHHANG] FOREIGN KEY([SoCMND])
REFERENCES [dbo].[KHACHHANG] ([SoCMND])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_LOAIXE] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LOAIXE] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_LOAIXE]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_PHUKIEN] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PHUKIEN] ([MaPK])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_PHUKIEN]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_Tien] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[Tien] ([MaThanhToan])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_Tien]
GO
ALTER TABLE [dbo].[PHUKIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHUKIEN_LOAIPHUKIEN] FOREIGN KEY([MaLoaiPK])
REFERENCES [dbo].[LOAIPHUKIEN] ([MaLoaiPK])
GO
ALTER TABLE [dbo].[PHUKIEN] CHECK CONSTRAINT [FK_PHUKIEN_LOAIPHUKIEN]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LOAIXE1] FOREIGN KEY([MaLoaiXe])
REFERENCES [dbo].[LOAIXE] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LOAIXE1]
GO
USE [master]
GO
